.background-window-setting {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  color: blue;
}

.background-image {
  width: 1924px;
  height: 864px;
}
