.desc-1-title {
  font-size: 64px;
  color: gold;
  margin-top: 22px;
  margin-bottom: 26px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.desc-1-heart {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}

.desc-1-hp {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  color: #FA1333;
  font-size: 26px;
  padding-right: 30px;
}

.desc-1-gold-picture {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}

.desc-1-gold {
  font-size: 26px;
  color: gold;
}

.desc-1-intro {
  font-size: 26px;
  color: white;
}

.desc-1-relic {
  float: left;
  padding-right: 13px;
}

.desc-1-item {
  font-size: 26px;
  color: gold;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
}

.desc-1-itemdesc {
  font-size: 26px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.char-1-desc {
  position: absolute;
  height: 300px;
  width: 600px;
  left: 8%;
  top: 17%;
  background: rgba(211, 211, 211, 0.2)
}

.char-2-desc {
  position: absolute;
  height: 300px;
  width: 650px;
  left: 8%;
  top: 17%;
  background: rgba(211, 211, 211, 0.2)
}

.char-3-desc {
  position: absolute;
  height: 300px;
  width: 650px;
  left: 8%;
  top: 17%;
  background: rgba(211, 211, 211, 0.2)
}

.char-4-desc {
  position: absolute;
  height: 300px;
  width: 650px;
  left: 8%;
  top: 17%;
  background: rgba(211, 211, 211, 0.2)
}

.char-1-box {
  background-image: url("/src/images/Char1.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 26px;
  font-family: Kreon;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.399999618530273px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.char-2-box {
  background-image: url("/src/images/Char2.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 26px;
  font-family: Kreon;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.399999618530273px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.char-3-box {
  background-image: url("/src/images/Char3.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 26px;
  font-family: Kreon;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.399999618530273px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.char-4-box {
  background-image: url("/src/images/Char4.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 26px;
  font-family: Kreon;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.399999618530273px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.char-buttons {
  position: fixed;
  left: 50%;
  bottom: 4%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.char-button-1 {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-left: 27px;
  margin-right: 27px;
  border-radius: 25px;
}

.char-button-1:hover {
  border-style: solid;
  border-color: gold;
  border-radius: 25px;
}

.char-button-2 {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-left: 27px;
  margin-right: 27px;
  border-radius: 25px;
}

.char-button-2:hover {
  border-style: solid;
  border-color: gold;
  border-radius: 25px;
}

.char-button-3 {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-left: 27px;
  margin-right: 27px;
  border-radius: 25px;
}

.char-button-3:hover {
  border-style: solid;
  border-color: gold;
  border-radius: 25px;
}

.char-button-4 {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-left: 27px;
  margin-right: 27px;
  border-radius: 25px;
}

.char-button-4:hover {
  border-style: solid;
  border-color: gold;
  border-radius: 25px;
}
