.deck-whole-div {
  position: absolute;
  top: 0%;
  margin-left: 10px;
  margin-top: 85px;
  width: 200px;
  height: 24px;
  border: 3px solid grey;
  background-color: #61B7F3;
  padding-top: 11px;
  padding-bottom: 7px;
}

.deck-counter {
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: Kreon;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.399999618530273px;
  text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
  color: white;
}
