.ironclad-whole-div {
  position: relative;
  float: left;
  z-index: 1;
  margin-left: 160px;
  margin-top: 400px;
}

.ironclad-char {
  width: 300px;
  length: 200px;
}

.ironclad-status-bar {
  background-color: grey;
  padding-left: 30px;
  width: 250px;
  font-family: Kreon;
  font-style: normal;
  font-variant: normal;
}
